<!-- Pagina no encontrada -->
<div class="pagina-no-encontrada-contenedor">
    <mat-card style="background: none; box-shadow: none;">
        <mat-card-header mat-card-header class="" style="justify-content: center; align-items: center;">
            <label>Error</label>
        </mat-card-header>
        <mat-card-content class="">
            <div class="pagina-no-encontrada">
                <mat-icon style="font-size: 55px; height: 55px; width: 55px;">search</mat-icon>
                <h1>404</h1>
            </div>
            <label>Página no encontrada</label>
            <p></p>
            <button mat-flat-button title="regresar" (click)="return()">
                <mat-icon>keyboard_backspace</mat-icon>
                Regresar
            </button>
        </mat-card-content>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>
</div>