.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.contenedor-card {
    max-width: 500px;
    color: #ffffff;
    margin: 25px;
    padding: 10px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

/* Inputs */
.form > mat-form-field {
    width: 90%;
    margin-top: 15px;
}