<!-- Componente para mostrar los datos generales del perfil del paciente -->
<section class="contenedor">
  <mat-card class="contenedor-card" style="background-color: #1a1c1f;">
    <mat-card-header>
      <mat-card-title style="color: #ffffff; margin-bottom: 25px;">
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Formulario -->
      <form class="form">
        <h5>Cambiar contraseña</h5>
        <label style="text-align: center;">Mínimo 5 caracteres de largo y al menos alguno de los siguientes caracteres
          especiales # $ % ^ &</label>
        <!-- Contraseña -->
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput #Ppass [type]="hide() ? 'password' : 'text'" required>
          <!-- Llama a la funcion hide y muestra la contraseña -->
          <a mat-icon-button matSuffix (click)="pass($event)">
            <!--Cambia el icono de la contraseña  -->
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
        </mat-form-field>

        <!-- Repite contraseña -->
        <mat-form-field class="">
          <mat-label>Repite la contraseña</mat-label>
          <input matInput #PRpass [type]="hide1() ? 'password' : 'text'"required>
          <!-- Llama a la funcion hide y muestra la contraseña -->
          <a mat-icon-button matSuffix (click)="passRepet($event)">
            <!--Cambia el icono de la contraseña  -->
            <mat-icon>{{hide1() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
        </mat-form-field>
        <button mat-flat-button (click)="changepass($event, Ppass.value, PRpass.value)">Cambiar contraseña</button>
        
        
        <!-- Datos personales del paciente -->
        <mat-divider style="padding: 5px; width: 90%; margin-top: 15px;"></mat-divider>
        <h5>Datos generales</h5>
        <!-- Nombre -->
        <mat-form-field class="">
          <mat-label>Nombre</mat-label>
          <input matInput #Pnombre required type="text" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 192 && event.charCode <= 255) || (event.charCode === 209 || event.charCode === 241) || (event.charCode === 32)" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Apellidos -->
        <mat-form-field class="">
          <mat-label>Apellidos</mat-label>
          <input matInput #Papellidos required type="text" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 192 && event.charCode <= 255) || (event.charCode === 209 || event.charCode === 241) || (event.charCode === 32)" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- No telefono -->
        <mat-form-field class="">
          <mat-label>Número de Teléfono</mat-label>
          <input required #Ptelefono type="tel" onkeypress='return event.charCode >= 48 && event.charCode <= 57' matInput>
          <mat-hint>Mínimo debe tener 10 digitos ejemplo - 5513140000</mat-hint>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <!-- Fecha de nacimiento -->
        <mat-form-field>
          <mat-label>Fecha de Nacimiento</mat-label>
          <input type="text"
            #fechaNacimiento
            bsDatepicker
            placement="top"
            [bsConfig]="bsConfig" 
            onkeypress="return false"
            matInput
            required>
        </mat-form-field>
        <!-- Boton actualizar datos generales -->
        <button mat-flat-button (click)="actualizar($event, Ppass.value, PRpass.value, Pnombre.value, Papellidos.value, Ptelefono.value, fechaNacimiento.value)">Actualizar datos</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>