/* Tabla */
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
}

.contenedor-card {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    color: #ffffff;
    margin: 25px;
    padding: 10px;
}

/* Estilo del input de tipo file */
input::file-selector-button {
    font-weight: bold;
    background-color: #000000!important;
    color: #ffffff;
    padding: 15px;
    font-weight: 750;
    border:0;
    border-radius: 25px;
}

input::file-selector-button:hover{
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.top-modal {
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

.bottom-modal {
    border-bottom-left-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.custom-snackbar{
    z-index: 9000000000;
}