.login-contenedor {
    display: flex;
    justify-content: center;
    color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
}

.login-form {
    padding-top: 15px;
}

.login-form > * {
    width: 100%;
}
