
<div class="contenedor-general">
    <mat-card class="" style="background-color: #ffffff; width: 90%; align-items: center;">
        <mat-card-content>
            <img src="banner.png" style="height: 250px;"/>
        </mat-card-content>
    </mat-card>
</div>
<div class="contenedor-general">
    <mat-card class="contenedor-card" style="background-color: #1a1c1f;">
        <mat-card-header style="justify-content: center; align-items: center;">
            <mat-card-title>Médicos</mat-card-title>
        </mat-card-header>
        <mat-card-content style="color: #ffffff!important;">
            <br>
            <label><strong>1.</strong> Gestion de citas</label>
            <p></p>
            <label><strong>2.</strong> Posibilidad de la consulta del historial medico de los pacientes.</label>
            <p></p>
            <label><strong>3.</strong> Generacion y consulta de recetas prescritas.</label>
        </mat-card-content>
    </mat-card>
    <mat-card class="contenedor-card" style="background-color: #1a1c1f;">
        <mat-card-header style="justify-content: center; align-items: center;">
            <mat-card-title>Pacientes</mat-card-title>    
        </mat-card-header>
        <mat-card-content style="color: #ffffff;">
            <br>
            <label><strong>1.</strong> Busqueda y generacion de citas medicas en consultorios privados pequeños cercanos.</label>
            <p></p>
            <label><strong>2.</strong> Registro y gestion del hisotorial clínico personal.</label>
            <p></p>
        </mat-card-content>
    </mat-card>
</div>